<%
 # This partial renders a Club member as a row in a table.
 # locals =>
 #  member  => The ClubMember
 %>
<tr class='membership'>
  <td class="full_name">
    <%= link_to member.name, :id => member, :controller => :users, :action => :show %>
  </td>
  <td class="suid">
    <%= fmt_memberid(member) %>
  </td>
  <td class="name">
    <%= member.club_affiliation.name %>
  </td>
  <td class="name">
    <%= member.club_member_status.name %>
  </td>
  <td class="decimal">
    <%= member.club_start_date.strftime("%Y") if member.club_start_date %>
  </td>
  <td class="decimal">
    <%= member.club_grad_year.strftime("%Y") if member.club_grad_year %>
  </td>
  <% if @year %>
  <td class="decimal">
    <%= member.trips_for(@year).size %>
  </td>
  <% end %>
</tr>
