<% unless AppConfig.closed_beta_mode %>
  <div class="yui-b sidebar">
    <%= render :partial => "shared/login_sidebar" %>
  </div>
<% end %>

<div id="yui-main">
  <div class="yui-b main_column">
    <div class="box">
      <br>
      <h2>SUOC 75th Reunion Goers! Please Log in below or <%= link_to "Sign Up!", :controller => :users, :action => :new %></h2>
      <h3>
        <%= :log_in_to_site.l(:site => AppConfig.community_name) %>
      </h3>
      <% form_tag sessions_path, :class => 'MainForm' do %>
        <label for="username">Your Name, email, or SUID</label>
        <%= text_field_tag :login, nil, :size => 35, :tabindex => 1 %>
        <label for="password"><%= :password.l %></label>
        <%= password_field_tag "password", nil, :size => 35, :tabindex => 2 %>
        <fieldset>
           <label for="remember_me">
             <%= :remember_me.l %>
             <%= check_box_tag :remember_me %>
           <label>
        </fieldset>
        <p>
        <%= submit_tag :log_in.l %>
      <% end %>
    </div>
  </div>
</div>
