<h1>New acct_account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
    <%= f.collection_select :account_type_id, AcctAccountType.find(:all), :id, :name %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', acct_accounts_path %>
