
<h3>Account <%= @account.name %></h3>
<p>
<%= @account.description %>
<h2>Actions</h2>
<% if @account.actions.empty? %>
  There are no actions associated with this account.
<% else %>
  <% for a in @account.actions %>
    <%= link_to a.name, acct_action_path(a) %>
    <%= "| " unless a == @account.actions.last %>
  <% end %>
<% end %>
<p>
<h2>Register</h2>
<p>
Balance: <%= @account.balance %>
<p>
<%= will_paginate @entries,
    :previous_label => "&laquo; Newer", :next_label => "Older &raquo;",
    :params => { :action => :show } %>
<p>
<table>
  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Description</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Rcrd'By</th>
    <th>Trans #</th>
  </tr>
  <% for t in @entries.reverse %>
  <tr>
    <td><%= t.date.strftime("%D") %></td>
    <td><%= t.category.name %></td>
    <td><%= t.description %></td>
    <td class="decimal"><%= t.debit %></td>
    <td class="decimal"><%= t.credit %></td>
    <td><%= t.recorded_by.name %></td>
    <td class="decimal">
      <%= link_to t.acct_transaction.id,
                  :controller => :acct_transactions,
                  :id => t.acct_transaction %></td>
  </tr>
  <% end %>
</table>
<p>
<%= will_paginate @entries,
    :previous_label => "&laquo; Newer", :next_label => "Older &raquo;",
    :params => { :action => :show } %>
<p>
<%= link_to "Edit", edit_acct_account_path(@account) %>
|
<%= link_to "Accounts", acct_accounts_path %>
<p>
<%= button_to "Delete This Account", acct_account_path(@account),
              :method => :delete, :confirm => "Are you sure?" %>