<div class="box">
<h2>Account <%= @acct_account.name %></h2>
<p>Balance: <%= @acct_account.balance %>
<p>
<%= will_paginate @entries, 
    :previous_label => "&laquo; Newer", :next_label => "Older &raquo;",
    :params => { :action => :index } %>
<table>
  <tr>
    <th>Date</th>
    <th>Category</th>
    <th>Description</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Rcrd'By</th>
    <th>Trans #</th>
  </tr>
  <% for t in @entries.reverse %>
  <tr>
    <td><%= t.date.strftime("%D") %></td>
    <td><%= t.acct_category.name %></td>
    <td><%= t.description %></td>
    <td class="decimal"><%= t.debit %></td>
    <td class="decimal"><%= t.credit %></td>
    <td><%= t.recorded_by.name %></td>
    <td class="decimal">
      <%= link_to t.acct_transaction.id, 
                  :controller => :acct_transactions,
                  :id => t.acct_transaction %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @entries, 
    :previous_label => "&laquo; Newer", :next_label => "Older &raquo;",
    :params => { :action => :index } %>
</div>
