<div class="box">
  <h2>Editing Club Activity</h2>
  <div class="errors"></div>
  <% form_for(@club_activity,
        :html => { :class => "MainForm" }) do |f| %>
    <%= f.error_messages %>
    <%= f.label "Name" %>
    <%= f.text_field "name" %>
    <%= f.label "Description" %>
    <%= f.text_area "description", 
         {:size => "86x5", :class => "rich_text_editor"} %>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>

  <%= link_to 'Club Activities', club_activities_path %>
</div>
