<% if item %>
  <% if item.number == "100" %>
    <tr>
      <td></td>
      <td><%= item.type %></td>
      <td><%= item.full_name %></td>
      <td>T-Shirt: <%= item.tshirt %></td>
      <td class="decimal"><%= item.cost %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
     <td></td>
     <td><%= item.friday ? "Friday" : "" %></td>
     <td><%= item.saturday ? "Saturday" : "" %></td>
     <td><%= item.sunday ? "Sunday" : "" %></td>
     <td></td>
     <td></td>
    </tr> 
  <% elsif item.number == "101" %>
    <tr>
      <td></td>
      <td><%= item.type %></td>
      <td><%= item.full_name %></td>
      <td>T-Shirt: <%= item.tshirt %></td>
      <td class="decimal"><%= item.cost %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
     <td></td>
     <td><%= item.friday ? "Friday" : "" %></td>
     <td><%= item.saturday ? "Saturday" : "" %></td>
     <td><%= item.sunday ? "Sunday" : "" %></td>
     <td></td>
     <td></td>
    </tr>
  <% elsif item.number == "200" %>
    <tr>
      <td></td>
      <td><%= item.quantity %> <%= item.name %></td>
      <td><%= item.ship ? "MUST SHIP" : "PICKUP" %></td>
      <td>T-Shirt: <%= item.tshirt %></td>
      <td class="decimal"><%= item.cost %></td>
    </tr>
  <% end %>
<% end %>
