<tr>
<td><%= registrant.name %></td>
<td colspan="4">Items</td>
<td class="decimal"><%= registrant.amount_paid %></td>
<td class="decimal"><%= registrant.fee %>
<td class="decimal"><%= registrant.shipping %></td>
</tr>
  <%= render :partial => "item", :collection => registrant.items %>
