<tr>
<td><%= if @sort == "last"
           a = tshirt.name.split
           l = a.slice!(-1)
           (l + ", ") + a.join(" ")
        else
          tshirt.name
        end
     %></td>
<td><%= tshirt.tshirt %></td>
<td><%= tshirt.type %></td>
<td><%= tshirt.date.strftime("%m-%d-%Y") %></td>
<td><%= tshirt.extra ? "*" : "" %></td>
<td><%= tshirt.quantity != "1" ? tshirt.quantity : "" %></td>
<td><%= tshirt.ship ? "MUST SHIP" : "" %></td>
</tr>
