<H3>Registered T-Shirt Counts</h3>
<table class="reunion">
<tr>
<th>Size</th>
<th>Number</th>
</tr>
<tr>
<td>Small</td><td class="decimal"><%= @small %></td>
</tr>
<tr>
<td>Medium</td><td class="decimal"><%= @medium %></td>
</tr>
<tr>
<td>Large</td><td class="decimal"><%= @large %></td>
</tr>
<tr>
<td>X-Large</td><td class="decimal"><%= @largeX %></td>
</tr>
<tr>
<td>2X-Large</td><td class="decimal"><%= @large2X %></td>
</tr>
<tr>
<td>3X-Large</td><td class="decimal"><%= @large3X %></td>
</tr>
<tr>
<td>Total</td><td class="decimal"><%= @total %></td>
</tr>
</table>
<table class="reunion">
<tr>
<th>Attendee TShirts</th><th>Extra Pickup</th><th>Extra to Ship</th><th>Total</th>
</tr>
<tr>
<td><%= @attendee_total %></td>
<td><%= @extra_pickup %></td>
<td><%= @extra_ship %></td>
<td><%= @total %></td>
</tr>
</table>
<p>
<% @options = {"First Name"=>"first", "Last Name" => "last", "Reg Date" => "date", "Size" => "size" } %>
<% form_tag({:action => "tshirts"}, {:method => :get}) do %>
Sort By: <%= select_tag "sort", options_for_select(@options, @sort), {:onchange=>  "submit()"} %>
<% end %>
<p>
<table class="reunion">
<tr>
  <th>Name</th>
  <th>T-Shirt Size</th>
  <th>Type</th>
  <th>Reg Date</th>
  <th>Extra</th>
  <th>Quantity</th>
  <th>Ship</th>
</tr>
<%= render :partial => "tshirt", :collection => @attendees %>
</table>
