<H3>Registered T-Shirt Counts</h3>
<table>
<tr>
<th>Size</th>
<th>Number</th>
</tr>
<tr>
<td>Small</td><td class="decimal"><%= @small %></td>
</tr>
<tr>
<td>Medium</td><td class="decimal"><%= @medium %></td>
</tr>
<tr>
<td>Large</td><td class="decimal"><%= @large %></td>
</tr>
<tr>
<td>X-Large</td><td class="decimal"><%= @largeX %></td>
</tr>
<tr>
<td>2X-Large</td><td class="decimal"><%= @large2X %></td>
</tr>
<tr>
<td>3X-Large</td><td class="decimal"><%= @large3X %></td>
</tr>
</table>
