<div class="box">
  <h3>Account Types</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

    <% for t in @account_types %>
      <%= render_acct_account_type t %>
    <% end %>
  </table>
</div>

<p>
<%= link_to "Account Types", acct_account_types_path %>
|
<%= link_to "Account Categories", acct_categories_path %>
|
<%= link_to "Account Actions", acct_actions_path %>
|
<%= link_to "Action Sets", acct_action_sets_path %>