<%
# This partial renders the basic information
# Locals:
#   member  The ClubMember
#   showedit Boolean that shows the edit tag.
#
%>
<div class="box">
  <% member.type = "ClubMember"
     member.save
     member = ClubMember.find(member.id)
  %>
  <%= render_club_member_info(member, showedit) %>
  <%= render_memberships(member) %>
  <%= render_offices(member.current_officers) %>
  <%= render_chairmanships(member.current_chairs) %>
  <%= render_leaderships(member.current_leaders) %>
</div>