<%
# This partial renders the basic information
# Locals:
#   member  The ClubMember
#   showedit Boolean that shows the edit tag.
#
%>
<div class="box">
  <%= render_club_member_info(member, showedit) %>
  <%= render_membership_slacker(member) %>
  <%= render_trip_registrations(member) %>
  <%= render_memberships(member) %>
  <%= render_certifications(member.current_certifications) %>
  <%= render_offices(member.current_officers) %>
  <%= render_chairmanships(member.current_chairs) %>
  <%= render_leaderships(member.current_leaders) %>
</div>
