<div class="yui-b">
  <div class="box">
    <h3><%= "Dashboard".l %></h3>
    <div class="yui-g"
      <div class="yui-u first">
        <%= image_tag 'icons/accept.png', :plugin => 'community_engine' %>
        <%= "View my:".l %>
        <ul>
          <li><%= link_to 'SUOC Profile'.l, suoc_profile_path(SuocProfile.find_or_create_by_user(@user))  %></li>
        </ul>
      </div>
      <div class="yui-u">
        <%= image_tag 'icons/wrench.png', :plugin => 'community_engine' %>
        <%= "Manage my:".l %>
        <ul>
          <li><%= link_to 'User Info'.l, edit_user_path(@user) %></li>
          <li><%= link_to 'Account settings'.l, edit_account_user_path(@user) %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'Admin dashboard'.l, admin_dashboard_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="box alt">
    <h3><%= "Stats".l %></h3>
    <ul>
      <li><%= "You last logged in on #{@user.last_login_at && @user.last_login_at.strftime("%m/%d/%Y")}" %></li>
      <li><%=  @user.created_at.strftime("Member since: %m/%d/%y") %></li>
      <% unless @user.posts.empty? %>
        <li><%= "You have written #{@user.posts.count} blog posts." %></li>
      <% end %>
      <% unless @user.photos.empty? %>
        <li><%= "You have uploaded #{@user.photos.count} photos." %></li>
      <% end %>
      <% unless @user.clippings.empty? %>
        <li><%= "You have created #{@user.clippings.count} clippings." %></li>
      <% end %>
      <% unless @user.comments.empty? %>
        <li><%= "You have left #{@user.posts.count} comments." %></li>
      <% end %>
      <% unless @user.accepted_friendships.empty? %>
        <li><%= "You have #{pluralize @user.accepted_friendships.count, 'friend'}." %></li>
      <% end %>
    </ul>
  </div>
</div>