<div class="yui-b">
  <div class="box">
    <h3><%= "Why Sign up?".l %></h3>
    <ul class="list checks">
      <li>Required if you are a student member of SUOC.</li>
      <li>You are an alumni member of SUOC for fun</li>
    </ul>
  </div>
  <div class="box alt">
    <h3><%= "Tips".l %></h3>
    <p><%= "After signing up, you'll receive an e-mail confirmation message.".l %>
    <p><%= "Click the activation link in the e-mail to log in.".l %>
    <p><%= link_to "Already have an account?".l, "/login" %>
  </div>
</div>
<div id="yui-main">
  <div class="yui-b">
    <div class="box">
      <h3><%= "Sign up!".l %></h3>
      <%= error_messages_for :user %>
      <% form_for :user, :url => users_path, :html => {:class => 'MainForm'} do |f| %>
        <label for="user_login">
          <em>Please use your real full name! Spaces are allowed. It is also case senstive. 'McBain' and 'MCbain' are different, Start first, middle, and last name with capital letter. Please play along, it makes it look nice!
          </em>
          <br>
          <%= "Your Name".l %>
        </label>
        <%= f.text_field :login, :tabindex => 1 %>

        <label for="user_email">
          <%= "E-mail address".l %>
          <em><%= "(Required: We will send a confirmation e-mail to the address you enter.)".l %>
        </label>
        <%= f.text_field :email, :tabindex => 2 %>

        <label for="user_club_memberid">
          <%= "Your SUID".l %>:
          <em><%= "(Required for students, faculty, staff)".l %></em>
        </label>
        <%= f.text_field :club_memberid, :tabindex => 3 %>

        <label for="user_club_affiliation">
          <%= "Your Affiliation".l %>
          <em><%= "(If you are no longer a student, please choose Alumni)".l %></em>
        </label>
        <%= f.collection_select :club_affiliation_id,
                                ClubAffiliation.find(:all), :id, :name,
                                {}, {:tabindex => 4} %>

        <label for="user_club_member_status">
          <%= "Your current member status".l %>
          <em><%= "(Please choose the one furthest down the list that applies)".l %></em>
        </label>
        <%= f.select :club_member_status_id,
               ClubMemberStatus.find(:all).collect {|s| [ "#{s.name}: #{s.description}", s.id]},
               {:prompt => "Please Select"}, {:tabindex => 5} %>

        <label for="user_birthdate">
          <%="Birthday".l %>:
          <em><%= "(Required: MM-DD-YYYY)".l %></em>
        </label>
        <%=  f.text_field :birthday, :tabindex => 6, :value => @user.birthday.strftime("%m-%d-%Y") %>

        <label for="user_club_start_date">
          <%="Member in SUOC since".l %>:
          <em><%= "(MM-DD-YYYY)".l + " Please tell us when you first joined SUOC!"%></em>
        </label>
        <%=  f.text_field :club_start_date, :tabindex => 7, :value => (@user.club_start_date.strftime("%m-%d-%Y") if @user.club_start_date) %>

        <% if AppConfig.require_captcha_on_signup %>
          <div class="right" style='margin-top:2em;'>
            <%= recaptcha_tags %>
          </div>
        <% end %>

        <label for="user_password">
          <%= "Type your password:".l %>
        </label>
        <%= f.password_field :password, :tabindex => 8 %>
        <label for="user_password_confirmation">
          <%= "Re-type your password to confirm:".l %>
        </label>
        <%= f.password_field :password_confirmation, :tabindex => 9 %>
        <%= hidden_field_tag :inviter_id, params[:inviter_id] %>
        <%= hidden_field_tag :inviter_code, params[:inviter_code] %>
        <p><%= submit_tag 'Sign up'.l %>
      <% end %>
    </div>
  </div>
</div>
