  <% cls = "membership_current" if member.has_current_membership?
     cls ||= "membership_#{member.club_member_status.name}" if member.club_member_status
     cls ||= "membership_other" %>

  <div <%="id='drag_user#{member.id}'"%> class="member_drag" >
        <div <%="class='#{cls}'" if cls %> >
<p>
        <%= image_tag member.avatar_photo_url(:thumb), :size => "25x25" %>
        <div class="member_content">
          <div class="full_name">
          <%= link_to member.name, user_path(member), :class => "member_link", :target => "_BLANK" %>
          <span class="member_name">&nbsp;<%= member.name %></span>
          </div>
<%= if (distinguish)
          "<div>" + 
	             content_tag("span class='informal'", 
	                 " Birthday: #{member.birthday.strftime("%m-%d-%Y")}") +
          "</div>"
    end %>
          <div class="contact">
          <%= member.club_contact %>
          </div>
        </div>
       </div>
    <%= hidden_field_tag "member#{member.id}", member.id, :name => "club_trip_registration[club_member_ids][]" %>  
    <% if (member != current_user ) %>
    <script type="text/javascript">
      dndMgr.registerDraggable( new Rico.Draggable('eatme', $(<%= "'drag_user#{member.id}'" %>)));
    </script>
    <% end %>
  </div>