<% if member.has_current_status? %>
  <% cls = "membership_current" if member.has_current_membership?
     cls ||= "membership_#{member.club_member_status.name}" if member.club_member_status
     cls ||= "membership_other" %>

  <div <%="id='drag_user#{member.id}'"%> class="member_drag" >
  <p>
        <%= image_tag member.avatar_photo_url(:thumb), :size => "25x25" %>
        <ul <%="class='#{cls}'" if cls %> >
          <li class="full_name">
          <%= link_to member.name, user_path(member) %>
          </li>
          <li class="contact">
          <%= member.club_contact %>
          </li>
        </ul>
    <%= hidden_field_tag "member#{member.id}", member.id, :name => "club_trip_registration[club_member_ids][]" %>
  </div>
  <script type="text/javascript">
   <%= "dndMgr.registerDraggable( new Rico.Draggable('eatme',$('drag_user'+#{member.id})) );" %>
  </script>
<% end %>
