<div id="club_dashboard_nav" class="box">
  <h3><%= :club_office.l %></h3>
  <table>
    <tr>
      <td>
        <%= link_to "Trip Registrations", club_trip_registrations_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Trips", club_trips_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Announcements", club_announcements_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Offices", club_offices_path %>
      </td>
    <tr>
    </tr>
      <td>
        <%= link_to "Activities", club_activities_path %>
      </td>
    <tr>
    </tr>
      <td>
        <%= link_to "Leaderships", club_leaderships_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Accounts", acct_accounts_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Ledgers", acct_ledgers_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "E-Room Ledger", acct_ledger_path("e-room-ledger") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Treasurer Ledger", acct_ledger_path("treasurer-ledger") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Checking Ledger", acct_ledger_path("checking-ledger") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Memberships", club_memberships_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Documents", club_documents_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Home Pages", comatose_admin_path %>
      </td>
    <tr>
    <tr>
      <td>
        <%= link_to "My Officerships",
             url_for( :controller => :club_officers, :action => "my_index", :id => "me") %>
      </td>
    <tr>
      <td>
        <%= link_to "My Activity Chairships",
             url_for( :controller => :club_chairs, :action => "my_index", :id => "me") %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "My Leaderships",
             url_for( :controller => :club_leaders, :action => "my_index", :id => "me") %>
      </td>
    </tr>
  </table>
</div>
