<div id="club_dashboard_nav" class="box">
  <h3><%= :club_office.l %></h3>
  <table>
    <tr>
      <td>
        <%= link_to "Trips", club_trips_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Offices", club_offices_path %>
      </td>
    <tr>
    </tr>
      <td>
        <%= link_to "Activities", club_activities_path %>
      </td>
    <tr>
    </tr>
      <td>
        <%= link_to "Leaderships", club_leaderships_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Accounts", acct_accounts_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "E-Room Ledger", eroom_ledger_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Treasurer Ledger", treasurer_ledger_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Documents", url_for("admin") %>
      </td>
    </tr>
  </table>
</div>
