<h3>Account Categories</h3>

<table>
  <tr colspan="5">  
    <% form_tag url_for(:action => :index), :method => :get do %>
    From <%= text_field_tag "start_date", @start_date.strftime("%m/%d/%Y") %>
    to <%= text_field_tag "end_date", @end_date.strftime("%m/%d/%Y") %>
    Per Page
   <%= radio_button_tag "per_page", "5", @per_page.nil?  || @per_page == "5" %>5
   <%= radio_button_tag "per_page", "10", @per_page == "10" %>10
   <%= radio_button_tag "per_page", "20", @per_page == "20" %>20
   <%= radio_button_tag "per_page", "30", @per_page == "30" %>30
   <%= radio_button_tag "per_page", "40", @per_page == "40" %>40
   <%= radio_button_tag "per_page", "50", @per_page == "50" %>50
   <%= submit_tag "GO" %>
  <% end %>
  </tr> 
  <tr class="pagnation">
    <td colspan="4">
        <%= will_paginate @categories,
        :previous_label => "&laquo; Newer", :next_label => "Older &raquo;",
        :params => { :action => :index } %></td>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Income</th>
    <th>Expense</th>
    <th>Balance</th>
  </tr>
  <%= render :partial => "category", :collection => @categories %>
</table>
<p>
<% if permitted_to? :create, :acct_categories %>
  <%= link_to "New Category", new_acct_category_path %>
<% end %>
<p>
<%= link_to "Account Types", acct_account_types_path %>
|
<%= link_to "Account Categories", acct_categories_path %>
|
<%= link_to "Account Actions", acct_actions_path %>
|
<%= link_to "Action Sets", acct_action_sets_path %>