<h3>Account Categories</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Income</th>
    <th>Expense</th>
    <th>Balance</th>
  </tr>
  <%= render :partial => "category", :collection => @categories %>
</table>
<p>
<% if permitted_to? :create, :acct_categories %>
  <%= link_to "New Category", new_acct_category_path %>
<% end %>
<p>
<%= link_to "Account Types", acct_account_types_path %>
|
<%= link_to "Account Categories", acct_categories_path %>
|
<%= link_to "Account Actions", acct_actions_path %>
|
<%= link_to "Action Sets", acct_action_sets_path %>