<% @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content } %>

  <div id="yui-main"
    <div class="yui-b box">
      <%= render :comatose => !@page.parent ? "" : @page.full_path %>
    </div>
  </div>
  <div class="yui-b">
    <div id="page_nav">
    <table>
      <tr><td>
        <%= if @home.page_photo
              link_to image_tag(@home.page_photo.public_filename(:small), :alt=> @home.title),
              url_for(:controller => "page", :action => :show, :id => @home.slug)
            end %>
        <br>
        <%= link_to @home.title,
             url_for(:controller => "page", :action => :show, :id => @home.slug)%>
      </td></tr>
    <% for f in @children do %>
      <tr><td>
        <%= if f.page_photo
              link_to image_tag(f.page_photo.public_filename(:small), :alt=> f.title),
              url_for(:controller => "page", :action => :show, :id => f.slug)
            end %>
        <br>
        <%= link_to f.title,
             url_for(:controller => "page", :action => :show, :id => f.slug)%>
      </td></tr>
    <% end %>
    </table>
    </div>
  </div>