<div class="box">
  <h2>Edit Officer</h2>
  <h2>Office of <%= @club_office.name %>
  <div class="errors"></div>
  <h3>Change Officer Dates</h3>
    <% form_for(@club_officer,
        :url => { :action => :update_officer, :id => @club_office, :officer => @club_officer.id },
        :html => { :class => "MainForm" }) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :id %>
    <table>
    <%= render_update_officer_entry(:club_officer, @club_officer) %>
    </table>
    <p>
      <%= f.submit "Update" %>
    </p>
    <% end %>



  <%= link_to 'Club Offices', club_offices_path %> |
  <%= link_to 'Club Activities', club_activities_path %>
</div>
