<%= error_messages_for :page %>
<p>
Click picture to change. This will upload the image. You still have to save the changes.
<div id='page_photo'>
  <%= render :partial => "page_photos/page_photo", :object => @page.page_photo %>
</div>
<br/>
<br/>
<div id="page_photo_form" style="display: none;">
  <% form_for(:page_photo, :url => formatted_page_photos_path(:format => 'js'),
            :html => { :multipart => true, :target => 'upload_frame' }) do |f| %>
    <%= f.file_field :uploaded_data %>
    <%= submit_tag "Upload and Change", :onclick => "$('page_photo_form').hide(); return true;" %>
    <a href="#" onclick="$('page_photo_form').hide(); return false;">Cancel</a>
  <%  end %>
</div>

<iframe id='upload_frame' name="upload_frame"
        style="width:1px;height:1px;border:0px"
        src="about:blank"></iframe>

<br/>
<br/>
<% form_for :page, @page, :html => { :class => "page-form" } do |f| %>
  <div id="page_photo_input"></div>
  <p>
  <label for="page_title">Title</label>
  <%= f.text_field :title, :tabindex=>1, :maxlength=>255  %>
  <p>
  <label for="page_slug">Slug</label>
  <%= f.text_field :slug,
                       :tabindex=>6,
                       :maxlength=>255,
                       :disabled=>@root_pages.include?(@page) %>
<% if show_field? 'keywords' %>
  <p>
  <label for="page_keywords">Keywords</label>
  <%= f.text_field :keywords, :tabindex=>7, :maxlength=>1000 %>
<% end %>

<% if show_field? 'parent' %>
  <p>
  <label for="page_parent">Parent</label>
  <% if mode != :new and @root_pages.include? @page %>
        <select id="page_parent" disabled="true">
          <option><%= @page.title %> is a root page</option>
        </select>
      <% else %>
        <select id="page_parent" name="page[parent_id]" tabindex="8">
          <%= tree_select_box @root_pages, @page.parent_id, @page.id %>
        </select>
       <% end %>
<% end %>

<p>
<label for="page_body">Body</label>
<%= f.text_area :body, :rows=>20, :tabindex=>2  %>

<% if show_field? 'filter' %>
  <p>
  <label for="page_filter_type">Filter</label>
  <%= select_tag 'page[filter_type]',
                      options_for_select(TextFilters.all_titles.sort,
                             @page.filter_type || Comatose.config.default_filter),
                      :tabindex=>3,
                      :id=>'page_filter_type' %>
      <span class="field-help">Converts plain text into html</span>
<% end %>

<% if show_field? 'created_on' %>
  <P>
  <label for="page_created_on">Created</label>
  <%= f.datetime_select :created_on %>
<% end %>

<div id="button-group">
  <% unless @page.updated_on.nil? %>
    <p>
    <div class="last-update">
      <label>
        Updated <%= time_ago_in_words @page.updated_on, true %> ago by
        <%= @page.author %>.
        <%= link_to(pluralize(@page.versions.length, 'revision', 'revisions'),
                    :action=>'versions', :id=>@page) if @page.versions.length > 0 %>
      </label>
    </div>
    </p>
  <% end %>
  <p><%= link_to( "Textile Help", "http://hobix.com/textile/quick.html", :popup => true ) %>
  <p>
  <%= image_tag 'comatose/spinner.gif', :id=>'spinner', :align=>'absmiddle', :style=>'display:none;' %>
    <%= button_to_function('Preview',
        "ComatoseEditForm.preview_content('#{url_for :controller=>controller.controller_name,:action=>'preview', :id=>@page}')",
        :tabindex=>3,
        :id=>'preview-btn' ) if show_field? 'preview' %> &nbsp;
    <%= submit_tag ((mode == :edit) ? 'Save Changes' : 'Create Page'), :tabindex=>4 %>
    <% if @page.versions.length > 0 %>
      &nbsp; <%= link_to "Revert", :action=>'versions', :id=>@page %>
    <% end %>
    or
    <a href="<%= url_for :controller=>controller.controller_name, :action=>'index' %>" onlick="ComatoseEditForm.cancel(this.href); return false;" tabindex="5">Cancel</a>
</div>
<% end %>

<div id="preview-area">
  <fieldset>
    <legend>Page Preview</legend>
    <div class="preview-body">
      <div id="preview-panel"><span style='color:blue;'>Loading Preview...</span></div>
      <div style="clear:both"></div>
    </div>
  </fieldset>
  <div class="commands">
    <a href="#" onclick="$('preview-area').hide();">Close Preview</a> or <a href="#">Back to top</a>
  </div>
</div>

<%= javascript_tag "ComatoseEditForm.liquid_horiz=false;ComatoseEditForm.init('#{mode.to_s}');" %>
