<%
 # This partial creates a table row for a single chair.
 # badge and then a vertical table of start and end date.
 # 
 #
 # Local Variables
 #        chair : ClubChair to be displayed.
 #        link    : Link to use for avatar.
 #        rowclass : CSS Class for row
 #
 %>
<tr <%= "class='#{rowclass}'" %>>
  <td><%= render_member_badge(chair.member, link) %></td>
  <td><table>
    <tr>
      <th>Activity</th>
      <td>
        <div class="name">
          <%= chair.activity.name %>
        </div>
     </td>
    </tr>
    <tr>
      <th>Start Date</th>
      <td>
        <div class="date">
          <%= fmt_date(chair.start_date) %>
        </div>
      </td>
    </tr>
    <tr>
      <th>End Date</th>
      <td>
        <div class="date">
          <%= fmt_date(chair.end_date) %>
        </div>
      </td>
    </tr>
  </table></td>
  <td>
    <div class="EntryForm">
      <ul>
        <li>
        <% if view_retire_chair(chair) %>
          <%= button_to "Retire Chair", 
                         url_for( :action => :retire_chair, 
                                  :id => chair.activity, 
                                  :chair => chair ),
                         :confirm => "Are you sure you want to retire #{chair.member.login} from the activity of #{chair.activity.name}?" %>
        <% end %>
        </li><li>
        <% if view_edit_chair(chair) %>
          <%= button_to "Edit Chair", 
                         url_for( :action => :edit_chair, 
                                  :id => chair.activity, 
                                  :chair => chair ) %>
        <% end %>
        </li><li>
        <% if view_delete_chair(chair) %>
          <%= button_to "Delete Chair", 
                         url_for( :action => :delete_chair,
                         :id => chair.activity,
                         :chair => chair ),
                         :confirm => "Are you sure you want to DELETE this chair entry, erasing the record forever?"  %>
        <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
