<%
 # This partial creates a table row for a single leader.
 # badge and then a vertical table of start and end date.
 # 
 #
 # Local Variables
 #        leader : ClubLeader to be displayed.
 #        link    : Link to use for avatar.
 #        rowclass : CSS Class for row
 #
 %>
<tr <%= "class='#{rowclass}'" %>>
  <td><%= render_member_badge(leader.member, link) %></td>
  <td><table>
    <tr>
      <th>Leadership</th>
      <td>
        <div class="name">
          <%= leader.leadership.name %>
        </div>
     </td>
    </tr>
    <tr>
      <th>Start Date</th>
      <td>
        <div class="date">
          <%= fmt_date(leader.start_date) %>
        </div>
      </td>
    </tr>
    <tr>
      <th>End Date</th>
      <td>
        <div class="date">
          <%= fmt_date(leader.end_date) %>
        </div>
      </td>
    </tr>
  </table></td>
  <td><table>
   <tr>
     <th>Verified By</th>
     <td>
       <div class="name">
         <%= leader.verified_by.name if leader.verified_by %>
       </div>
     </td>
    </tr>
    <tr>
      <th>Verified Date</th>
      <td>
        <div class="date">
          <%= leader.verified_date.strftime("%m-%d-%Y") if leader.verified_date %>
        </div>
      </td>
    </tr>
  </table></td>
  <td>
    <div class="EntryForm">
      <ul>
        <li>
        <% if view_verify_leader(leader) %>
          <%= button_to "Verify Leader", 
                         url_for( :action => :verify_leader, 
                                  :id => leader.leadership, 
                                  :leader => leader ) %>
        <% end %>
        </li><li>
        <% if view_retire_leader(leader) %>
          <%= button_to "Retire Leader", 
                         url_for( :action => :retire_leader, 
                                  :id => leader.leadership, 
                                  :leader => leader ),
                         :confirm => "Are you sure you want to retire #{leader.member.login} from the leadership of #{leader.leadership.name}?" %>
        <% end %>
        </li><li>
        <% if view_edit_leader(leader) %>
          <%= button_to "Edit Leader", 
                         url_for( :action => :edit_leader, 
                                  :id => leader.leadership, 
                                  :leader => leader ) %>
        <% end %>
        </li><li>
        <% if view_delete_leader(leader) %>
          <%= button_to "Delete Leader", 
                         url_for( :action => :delete_leader,
                         :id => leader.leadership,
                         :leader => leader ),
                         :confirm => "Are you sure you want to DELETE this leader entry, erasing the record forever?"  %>
        <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
