<div class="box">
  <h2>Select New Leader</h2>
  <h2>Leadership of the <%= @club_leadership.name %></h2>
  <div class="errors"></div>
    <h3>Current Leader(s):</h3>
    <% if !@current_leaders.empty? %>
      <table>
        <%= render_leader_list(@current_leaders) %>
      </table>
    <% else %>
      There are no current leaders assigned for the leadership of the <%= @suoc_leadership.name %>.
    <% end %>
    <h3>Choose New Leader</h3>
    <table>
    <%= render_select(@club_leadership, @selected_leaders) %>
    </table>
  <%= link_to 'Club Leaderships', club_leaderships_path %> |
  <%= link_to 'Club Activities', club_activities_path %>
</div>
