<div class="box">
  <h3><%= "Club Leadership of #{@club_leadership.name}" %></h3>
  <%= @club_leadership.tagline %>
  <h3>Description</h3>
  <%= @club_leadership.description %>
  <h3><%= "Current Leader(s): " %></h3>
  <% if !@current_leaders.empty? %>
    <table>
    <%= render_leader_list(@current_leaders) %>
    </table>
  <% else %>
      There are no current leaders assigned for this leadership.
  <% end %>
  <h3><%= "Past Leader(s): " %></h3>
  <% if !@past_leaders.empty? %>
    <%= will_paginate @past_leaders %>
    <table>
    <%= render_leader_list(@past_leaders) %>
    </table>
    <%= will_paginate @past_leaders %>
  <% else %>
      There are no past leaders assigned for this leadership.
  <% end %>
</div>

<%= link_to "Edit Leadership", edit_club_leadership_path(@club_leadership) if @view_modify %>