<div class="box">
  <h3>The <%=:club_office.l %></h3>
  <p>
  The <%= :club_office.l %> allows you to look at certain operational
  aspects of the club and perform some operations. The right side
  will allow you to navigate to each of the items below from any
  club operation.
  <h4><%= link_to "Trip Registrations", club_trip_registrations_path %></h4>
  <p>
  This section allows you to register your trips if you are a leader and/or sign up for trips.
  <h4><%= link_to "Trips", club_trips_path %></h4>
  <p>
  This section allows you to modify the trips table.
  <h4><%= link_to "Announcements", club_announcements_path %></h4>
  <p>
  This section allows you to modify the announcements table.
  <h4><%= link_to "Offices", club_offices_path %></h4>
  <p>
  This section allows you to look at the offices of the
  club and see its officers. If you have administrative privileges
  you can assign current officers.
  <h4><%= link_to "Activities", club_activities_path %></h4>
  <p>
  This section allows you to look at the Official Activities of the club.
  From there, you can see the current and past chairs of the activity, and
  get to the leaderships and its that each Activity maintains.
  <h4><%= link_to "Leaderships", club_leaderships_path %></h4>
  <p>
  This section contains the Official Leaderships, of which each leadership
  belongs to a certain activity. This will allow you to see the active
  leaders in that leadership and activity.
  <h4><%= link_to "Accounts", acct_accounts_path %></h4>
  <p>
  This section contains an accounting reports page for profit and loss and
  balance sheet for the current fiscal year or particular date ranges.
  <h4><%= link_to "Account Reports", acct_reports_path %></h4>
  <p>
  This section contains the "Chart of Accounts", which keeps track of
  the financial aspects of the club.
  <h4><%= link_to "E-Room Ledger", acct_ledger_path("e-room-ledger") %></h4>
  <p>
  This section contains the transaction ledger for the E-room. Its
  primary use is for the E-room Chair or anybody operating the E-room
  dealing with the E-room finances.
  <h4><%= link_to "Treasurer Ledger", acct_ledger_path("treasurer-ledger") %></h4>
  <p>
  This section contains the transaction ledger for the Treasurer.
  Its primary use is for the Treasurer or anybody operating in the
  office of the Treasury handling the money the Treasurer carries.
  <h4><%= link_to "Checking Ledger", acct_ledger_path("checking-ledger") %></h4>
  <p>
  This section contains the transaction ledger for the Checking account.
  Its primary use is for the Treasurer or anybody operating in the
  office of the Treasury writing checks and making deposits.
  <h4><%= link_to "Memberships", club_memberships_path %></h4>
  <p>
  This section contains the memberships managment. Currently there is only a
  button there to send yourself an email containing the current student members
  of the club. You only have access to this if you are a current club officer.
  <h4><%= link_to "Documents", club_documents_path %></h4>
  <p>
  This section contains the old directory of documents, most notably
  the SUOC Constitution. This section is pretty crude, but will update
  it soon.
  <h4><%= link_to "Home Pages", comatose_admin_path %></h4>
  <p>
  This section allows you to edit, add, manage the SUOC home pages using
  wiki format, if you have privileges to do this.
  <h4><%= link_to "Certifications", cert_certifications_path %></h4>
  <p>
  This section allows you to edit, add, and manage the various professional
  certifications that can be recorded for a member.
  <h4>
    <%= link_to "My Officerships",
         url_for( :controller => :club_officers, :action => "my_index", :id => "me") %>
    |
    <%= link_to "My Activity Chairships",
         url_for( :controller => :club_chairs, :action => "my_index", :id => "me") %>
    |
    <%= link_to "My Leaderships",
         url_for( :controller => :club_leaders, :action => "my_index", :id => "me") %>
    |
    <%= link_to "My Certifications",
         url_for( :controller => :cert_member_certs, :action => "my_index", :id => "me") %>
  </h4>
  <p>
  These sections allow you to add records concering your historical and current appointments
  within the club. The are subject to removal by administrators should they not be true.
</div>
