!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
  
    = render :partial => "shared/scripts_and_styles"
    - if controller =~ /comatose/
      = stylesheet_link_tag "comatose.css"
    = stylesheet_link_tag "club.css"
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    
  %body
    #doc4{:class => "yui-t4"}
      #hd
        = render :partial => "shared/header"
      #bd
        #yui-main
          .yui-b.box
            = @content_for_layout
        .yui-b
          = render :partial => "shared/club_dashboard_nav"
      #ft
      = render :partial => "shared/footer"

