!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= "Comatose Admin for SUOC"
    = render :partial => "shared/scripts_and_styles"
    = stylesheet_link_tag "comatose.css"
    = stylesheet_link_tag "club.css"
    = javascript_include_tag "comatose_support"
  %body
    #doc2{:class => "yui-t#{@sidebar_left ? 3 : 6}"}
      = render :partial => "shared/header"
            
      #bd
        = @content_for_layout
      #ft
      = render :partial => "shared/footer"

